/*color variables*/
$button: #a35f61;
$main: #678da3;
$secondary: #8bcaf0;
$secondary2:#f0a3a6;
$dark: #707070;
$light:#f9f9f0;
$lightbg: rgba(255, 255, 255, .5);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

